:root {
    --primary: #8F1B69;
    --primary-light: #ffeaf7;
    --primary-border: #cc84b2;
    --primary-light-border: #cc84b261;
    --primary-gray: #f3f2f7;

    --black: #000000;
    --white: #ffffff;
    --gray: #f9f9f9;

    --background-grey: #ebebed;

    --border-color: 1px solid #dddddd;
    --border-radius: 6px;
    --border-radius-medium: 10px;
    --border-radius-large: 16px;


    --font-light: 'GilroyLight', sans-serif;
    --font-regular: 'GilroyRegular', sans-serif;
    --font-medium: 'GilroyMedium', sans-serif;
    --font-bold: 'GilroyBold', sans-serif;

    --ion-color-primary: var(--primary);
    --ion-padding: 10px;
    --ion-margin: 10px;
    --ion-font-family: var(--font-regular);
}
